= simple_form_for (translation || Translation.new), :remote => true do |f|
  = f.input :body_litteral
  = f.input :body_semantic
  = f.association :language
  = f.button :submit, :class => 'btn btn-info'