- state ||= :individual

- case state

  - when :individual
    = content_tag_for :div, user do
      %h2.name= user.name
      - if user.expressions.present?
        - user.expressions.group_by(&:language).each do |language, expressions|
          - expressions_paginated = Kaminari.paginate_array(expressions).page(params["page_#{language.code}".to_sym]).per(10)
          %h3.expressions= t(:expressions_added_by_in, :count => expressions.count, :user => user.name, :language => t(language.name.downcase))
          = paginate(expressions_paginated, :param_name => "page_#{language.code}")
          .page_entries_info= raw page_entries_info expressions_paginated
          %ul.expressions= render expressions_paginated, :state => :list_item, :hide => [:author]
      - else
        %p.muted=t('.user_has_not_added_expressions_yet', :user => user, :default => "This user hasn't contributed any expression yet." )