- state ||= :individual
- hide  ||= []

- case state

  - when :individual
    = content_tag_for :div, expression, :lang => expression.language.code do
      .body=    expression.body
      .meaning= expression.meaning
      - unless hide.include?(:author)
        .author= link_to t('by_author', :author => expression.author ), expression.author

  - when :list_item
    = content_tag_for :li,  expression, :lang => expression.language.code do
      .body=    link_to expression.body, expression
      - unless hide.include?(:author)
        .author= link_to t('by_author', :author => expression.author ), expression.author
