- state ||= :individual

- added_by_ago = capture do
  %small
    %span.author=raw t(:added_by, :author => link_to_unless(current_page?(user_path(a=expression.author)), a, a))
    %span.ago= t(:time_ago, :time => time_ago_in_words(expression.created_at))

- case state

  - when :individual
    = content_tag_for :div, expression, :lang => expression.language.code, :class => state do
      %blockquote.body
        %h2= expression.body
        = added_by_ago



  - when :list_item
    = content_tag_for :li,  expression, :lang => expression.language.code, :class => state do
      %blockquote.body
        = link_to expression.body, expression
        = added_by_ago
        =todo :span, {:class => :muted} do
          %i.icon-comment
          3 comments
