- state ||= :individual
- hide  ||= []

- case state

  - when :individual
    = content_tag_for :div, expression, :lang => expression.language.code do
      %blockquote.body
        %h2= expression.body
        - author_link= link_to(expression.author, expression.author)
        - time_ago= t(:time_ago, :time => time_ago_in_words(expression.created_at))
        %small.author=raw t(:added_ago_by, :author => author_link, :ago => time_ago)
      .meaning= expression.meaning

  - when :list_item
    = content_tag_for :li,  expression, :lang => expression.language.code do
      %blockquote.body
        = link_to expression.body, expression
        - unless hide.include?(:author)
          - author_link= link_to(expression.author, expression.author)
          - time_ago= t(:time_ago, :time => time_ago_in_words(expression.created_at))
          %small.author=raw t(:added_ago_by, :author => author_link, :ago => time_ago)


