.gridSystem
  .row
    = simple_form_for expression, :html => {:class => 'form-horizontal' } do |f|

      .row

        .span6
          = f.input :body,    :input_html => { :rows => 4 }, :placeholder => t(:expression_body)
          = f.input :meaning, :input_html => { :rows => 4 }, :placeholder => t(:expression_meaning)

          = todo do
            .control-group
              %label.control-label Source
              .custom-controls
                %ul.nav
                  %li
                    %input{:type=>:radio,:name=>:source}= "I am the author"
                  %li
                    %input{:type=>:radio,:name=>:source}= "Someone I know"
                  %li
                    %input{:type=>:radio,:name=>:source}= "A fiction (film, book, video game, ...)"
                  %li
                    %input{:type=>:radio,:name=>:source}= "Internet (web page, forum, ...)"
                  %li
                    %input{:type=>:radio,:name=>:source}= "I can't remember"
                  %li
                    %input{:type=>:radio,:name=>:source}= "Other"
            .control-group
              %label.control-label Source info
              .controls
                %textarea#expression_source_info.text.optional{ name: "expression[source_info]", cols: 40, rows: 4}

          - if action_name == 'new'
            .control-group
              %label.control-label= t(:choose_expression_language)
              .custom-controls= render 'languages/list', :custom_class => 'nav-pills'


        .span6
          = todo do
            %h3 Please read these instructions before clicking submit
            %p An idiomatic expression, or idiom is...
            %p
              - 5.times do
                Lorem Ipsum dolor sit amet
            %h4 Some examples
            %p
              - 5.times do
                Lorem Ipsum dolor sit amet
      .row
        .form-actions= f.button :submit

