%h2= t(:add_an_expression)

= simple_form_for expression, :html => {:class => 'form-horizontal' } do |f|
  .control-group
    %label.control-label= t(:choose_expression_language)
    .controls
      - @available_languages.each do |l|
        - active = 'active' if locale.to_s == l.code
        = link_to l.code, :locale=>l.code, :class => active

  = f.input :body,    :input_html => { :rows => 4 }
  = f.input :meaning, :input_html => { :rows => 4 }
  .form-actions= f.button :submit
