.row.menus
  .manage.menu
    = render 'expressions/ui/destroy'
    = render 'expressions/ui/edit'
    = todo :span do
      = render 'expressions/ui/flag'
      = render 'modals/flag_expression'

  =todo do
    .share.menu
      = render 'expressions/ui/share'

.row
  = render @expression

.row.details

  .first.column
    .meaning
      = render 'expressions/show/meaning'
    .source
      = render 'expressions/show/source'
    .author_expressions
      = render 'expressions/show/author_expressions'

  .second.column
    .translations{ data: { purpose: 'translations-list' } }
      =  render 'expressions/show/translations', parent: @expression
      = render 'modals/add_translation', parent: @expression


  .third.column
    .comments
      = render 'expressions/show/comments'
      = render 'modals/add_comment', parent: @expression




= todo do
  .row
    .examples
      %h3 Examples
      %ul.unstyled
        - 2.times do |n|
          %li.example
            .body
              blablabla
              =@expression
              blablabla.
            %small.muted
              %span.author=raw t(:added_by, author: link_to(User.first))
              %span.ago= t(:time_ago, time: time_ago_in_words(Time.now))
            %hr

      =link_to '#modal-tags', class: 'btn btn-info', :'data-toggle' => :modal do
        %i.icon-plus
        contribute an example

    .tags
      %h3 Tags
      %p
        Yours:
        - 5.times do |n|
          %span.label.label-info{style: 'line-height: 2'}= link_to "mytag #{n}", '', style: 'color: inherit'
      %p
        Others:
        - 15.times do |n|
          %span.label{style: 'line-height: 2'}= link_to "tag #{n}", '', style: 'color: inherit'
      %p
        =link_to '#modal-tags', class: 'btn btn-info', :'data-toggle' => :modal do
          %i.icon-tags
          add some tags
      = render 'modals/tag_expression'


    .illustrations
      %h3 Illustrations

      %ul.unstyled
        %li
          = link_to '', class: 'btn btn-info' do
            %i.icon-plus
            contribute with an drawing or a picture
= todo do
  .row
    .similar
      %h3 Similar expressions
      %ul.expressions
        - Expression.limit(5).each do |e|
          %li= render e, state: :list_item


