.row

  .span12
    .pull-right
      - if can? :destroy, @expression
        = link_to expression_path(@expression), :method => :delete, :class => 'destroy-expression btn btn-danger', :confirm => t(:are_you_sure, :default => 'Are you sure ?')  do
          %i.icon-remove-sign
          %span.hidden Remove this expression
      - if can? :update, @expression
        = link_to edit_expression_path(@expression), :class => 'update-expression btn' do
          %i.icon-pencil
          %span.hidden Update this expression
      = todo :span do
        = link_to '#modal-flag', :class => 'flag-expression btn btn-warning', :'data-toggle' => :modal do
          %i.icon-flag
          %span.hidden Flag this expression

    = todo do
      .share
        - attributes = { style: 'font-size: 48px; line-height: 48px' }
        = link_to '#', attributes do
          %i.icon-facebook-sign
        = link_to '#', attributes do
          %i.icon-twitter-sign{ style: 'color: #82e1ff'}

.row
  = render @expression

.row

  .span4
    %h3= t('activerecord.attributes.expression.comments', :default => 'Comments')
    - comments_contents = capture do
      - if @expression.root_comments.any?
        %ul#comments.unstyled= render @expression.root_comments, :state => :list_item
    = comments_contents.presence || content_tag(:p, t(:no_comments_yet, :default => 'No comments yet'), :class => :muted)
    - if can?(:crate, Comment)
      = link_to '#modal-comment', :class => 'btn btn-info add_comment', :'data-toggle' => :modal do
        %i.icon-comment
        =t('.comment.add', :default => 'Add your comment')
    - else
      %p
        = link_to new_user_session_path, :class => 'muted' do
          %small
          %i.icon-info-sign
          = t(:sign_in_to_create_comment, :default => "Sign in first to add your comment".html_safe)

  .span4
    .meaning
      %h3= t('activerecord.attributes.expression.meaning').capitalize
      = simple_format @expression.meaning
      %hr
    .source
      %h3= t('activerecord.attributes.expression.source_info').capitalize
      - source_contents = capture do
        - if @expression.created_by_author
          %p= t(:created_by, :author => link_to(a=@expression.author,a)).html_safe
          %hr/
        - if @expression.source_info.present?
          = simple_format @expression.source_info
      = source_contents.presence || content_tag(:span, t(:info_not_provided_yet, :default => 'Information not provided yet'), :class => :muted)

  .span4
    .expressions
      %h3= t(:recently_added_by, :author => link_to(a=@expression.author,a), :default => "Recently added by #{link_to(a=@expression.author,a)}").html_safe
      %ul.expressions
        - Expression.where(:author_id => @expression.author.id).limit(5).each do |e|
          %li= render e, :state => :list_item
        %li= link_to icon(:search)+t(:all_expressions_by, :author => @expression.author), @expression.author, :class => 'btn'


= render 'modals/add_comment', :parent => @expression

= todo do

  .row



    .span4
      %h3 Examples
      %ul.unstyled
        - 2.times do |n|
          %li.example
            .body
              blablabla
              =@expression
              blablabla.
            %small.muted
              %span.author=raw t(:added_by, :author => link_to(User.first))
              %span.ago= t(:time_ago, :time => time_ago_in_words(Time.now))
            %hr

      =link_to '#modal-tags', :class => 'btn btn-info', :'data-toggle' => :modal do
        %i.icon-plus
        contribute an example



= todo do

  .row

    .span4
      .tags
        %h3 Tags
        %p
          Yours:
          - 5.times do |n|
            %span.label.label-info{:style=>'line-height: 2'}= link_to "mytag #{n}", '', :style => 'color: inherit'
        %p
          Others:
          - 15.times do |n|
            %span.label{:style=>'line-height: 2'}= link_to "tag #{n}", '', :style => 'color: inherit'
        %p
          =link_to '#modal-tags', :class => 'btn btn-info', :'data-toggle' => :modal do
            %i.icon-tags
            add some tags

    .span4
      .illustrations
        %h3 Illustrations

        %ul.unstyled
          %li
            = link_to '', :class => 'btn btn-info' do
              %i.icon-plus
              contribute with an drawing or a picture


= todo do

  = render 'modals/flag_expression'
  = render 'modals/tag_expression'

= todo do
  .row

    .span6
      .expressions
        %h3 Similar expressions
        %ul.expressions
          - Expression.limit(5).each do |e|
            %li= render e, :state => :list_item

