- page_name = controller_name + '#' + action_name
!!!
%html{:lang => locale}
  %head
    %title Expresto
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .menus
          = link_to 'Expresto', root_path, :class => :brand
          .menu.userbox.pull-right
            %ul.nav
              - if signed_in?
                %li.current_user= link_to current_user, current_user
                %li.sign_out= link_to t(:sign_out), destroy_user_session_path, :method => :delete
              - else
                %li.sign_in= link_to t(:sign_in),  new_user_session_path
          .menu.languages
            %ul.nav
              - @available_languages.each do |l|
                %li= link_to l, :locale => l.code

    .page
      - flash.each do |name, msg|
        %div{:class => "alert alert-#{name}"}
          = msg

      - unless %w(expressions#new expressions#create).include?(page_name)  || %w(registrations passwords sessions confirmations).include?(controller_name)
        .menu.add_expression.pull-right
          %ul
            %li= link_to t(:add_an_expression), new_expression_path, :class => 'btn btn-large btn-success'

      = yield