!!!
%html
  %head
    %title Expresto
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .menu.languages
      %ul
        - @available_languages.each do |l|
          %li= link_to l, l

    = yield